In [46]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn import model_selection

In [7]:
data = pd.read_csv("./trainingandtestdata/training.1600000.processed.noemoticon.csv", engine="python", 
                   names=['score', 'id', 'date', 'query', 'user', 'text'])
data.head()

,score,id,date,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [57]:
train, val = model_selection.train_test_split(data, test_size=0.2, random_state=42)
train = train.reset_index(drop=True)
val = val.reset_index(drop=True)

In [72]:
train['score'] = train[['score']].replace({4: 1})
display(sum(train['score'] == 0), 
sum(train['score'] == 1), 
sum(train['score'] == 2), 
sum(train['score'] == 3),
sum(train['score'] == 4))

640506

639494

0

0

0

In [37]:
# def words_in_text(feature_words, s):
#     output = np.array([])
#     for text in s:
#         sublist = np.array([])
#         for feature in feature_words:
#             if feature in text:
#                 sublist = np.append(sublist, 1)
#             else:
#                 sublist = np.append(sublist, 0)
#         output = np.append(output, sublist, axis=0)
#     return np.reshape(output, (len(s), len(feature_words)))

In [54]:
def billy(words, texts):
    indicator_array = np.zeros((len(texts), len(words)))
    for idt in range(len(texts)):
        for idw in range(len(words)):
            if words[idw] in str(texts[idt]):
                indicator_array[idt, idw] = 1
    return indicator_array

In [60]:
billy(['upset', 'hello'], data.head()['text'])

array([[0., 0.],
       [1., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [59]:
type(train['text'])

pandas.core.series.Series

In [67]:
features = ['bad', 'good']
X = billy(features, train['text'])
y = train['score']

regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X, y)

# Make predictions using the testing set
regr.score(X, y)

0.009363912017828824